.idea
node_modules
npm-debug.log
yarn-error.log
.vscode
.tern-project
typings
app/*/*.map
/dist/
.project
/.cache/
/.happypack/
/sh.exe.stackdump
.happypack-cache
/__tests__/coverage
local.config.js
.history
dist.zip
.DS_Store
.eslintcache
